h1
    {
        color: rgb(255, 153, 0);
        font-size: 30pt;
        font-style:normal
    }

a

    {
        font-size: 18pt;
        padding-right: 30px;
        text-decoration: none;
        font-family: Verdana;
        color: purple;
        font-weight: 600;
    }

a:hover
    {
        color: rgb(172, 49, 90);
        background-color: black;
    }